@import url('https://fonts.cdnfonts.com/css/arcade-classic');

:root {
    --dark-color: #c7f9cc;
    --SemiLight-color: #80ed99;
    --Light-color: #42bd5f;
    --Darkest-color: #96c6b6;
    --accent: #148d4a;
}

body  {
    
    font-family: 'ArcadeClassic', sans-serif;
    margin: 0;
    background-image: url(/images/squiggly.png);

    color: var(--Light-color);
    background-repeat:repeat;
    overflow: hidden;

}

* {
    box-sizing: border-box;
}

#container {
    max-width: 900px;
    margin: 0 auto;
}

#container a {
    color: var(--accent);
    font-weight: bold;
}



#navbar {
    height: 40px;
    background-color: var(--dark-color);
    width: 100%;
}

#navbar ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    justify-content: space-evenly;
}

#navbar li a {
    color: var(--accent);
    font-weight: 800;
    text-decoration: none;
}

#navbar li a:hover {
    color: var(--Light-color);
    text-decoration: underline;
}

#flex {
    display: flex;
}

aside {
    background-color: var(--dark-color);
    width: 200px;
    padding: 20px;
    font-size: smaller;
    
}





main {
    background-color: var(--dark-color);
    flex: 1;
    padding: 20px;
    order: 2;
    height: 500px;
    border: 2px solid #148d4a;

}



h1, h2, h3 {
    color: var(--accent);
}

strong {
    color: var(--accent);
}

.box {
    background-color: var(--dark-color);
    border: 1px solid var(--accent);
    padding: 10px;
}

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #rightSidebar {
        order: 3;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}